.container-inicio {
  /* margin-left: 108px; */
  /* z-index: 20 */
  height: 100%;
  position: relative;
}

.map {
  height: 100vh;
  /* position: absolute; */

}

.info {
  /* text-align: center; */
  position: absolute;
  bottom: 20px;
  right: 0;
  z-index: 1000;
  background-color: black;
  opacity: 0.79;
  color: white;
  border-radius: 8px;
  padding: 8px 8px;
  margin: 0 20px 0 0;
}
.info h3 {
  margin: 4px auto;
  text-align: center;
  /* color: black;
  background-color: white; */

}

.info-content {
  display: grid;
  grid-template-columns: 200px;
  grid-gap: 0 20px;
  padding: 0 15px;
  /* align-items:flex-start; */
}
#iss-visibilidade {
  text-align: center;
  font-weight: 100;
}
/* 
.info-content p{
  font-weight: 100;
} */

.info-content .info-item {
  display: grid;
  grid-template-columns: 85px 1fr;
}
.info-content .info-item #name {
  font-weight: 400;
}
.info-content .info-item #value {
  font-weight: 100;
}

.legenda {
   /* text-align: center; */
   position: absolute;
   bottom: 350px;
   right: 0;
   z-index: 900;
   background-color: black;
   opacity: 0.79;
   color: white;
   border-radius: 8px;
   padding: 8px 20px;
   margin: 0 20px 0 0;
}

.legenda .item {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}


.legenda .item p {
  margin-right: 10px;
}

@media all and (max-width: 768px) {
  
  .info {
    /* text-align: center; */
    font-size: 12px;
    padding: 2px 2px;
    margin: 0 0 0 0;
  }
  
  
  .info-content {
    display: grid;
    grid-template-columns: auto;
  }

  .info-content .info-item {
    display: grid;
    grid-template-columns: 80px auto;
  }

  .legenda {
     /* text-align: center; */
     position: absolute;
     bottom: 0;
     left: 0;
     right: auto;
     z-index: 10001;
     background-color: black;
     opacity: 0.79;
     color: white;
     border-radius: 8px;
     padding: 8px 10px;
     margin: 0 20px 20px 0;
  }
  
  .legenda .item {
    display: grid;
    grid-template-columns: 80px 65px;
    /* justify-items: flex-start; */
  }
  
  
  .legenda .item p {
    margin-right: 10px;
  }
  
}