.container-header {
  height: 100%;
  display: flex;
  /* align-self: center; */
  flex-direction: column;
  /* justify-items: center; */
  text-align: center;
  color: white; 
  position: fixed;
  z-index: 1000;
  width: 100px;
  background-color: black;
  box-shadow: 0px 13px 30px rgba(0, 0, 0, 0.8);

}
  
.content-header {
  border-radius: 20px;
}

.logo {
  margin: 40px 0;
}

.logo h2{
  margin: 0;
}

.logo p {
  font-weight: 100;
  margin: 0;

}

.logo img{
  max-width: 70%;
  padding: 8px 6px;
  /* position: absolute; */

}




ul li {
  margin: 40px 0;
}

ul li a {
  background-color: black;
  border-radius: 5px;
  padding: 6px 8px;
  color: white;
  font-weight: bold;
}