@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:rgb(106, 106, 241);
  background: blue;
  color: #fff;
}

body, #root {
  height: 100%;

}

ul {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

.leaflet-container {
  margin-left: 100px;
  /* width: 100%; */
  height: 100%;
}

h1, h2, h3 {
  margin: 0;
}

@media all and (max-width: 768px) {
  .leaflet-container {
    margin-left: 0;
  }
}